body
{ background-image: url("qrc:/r/pic/muistitausta.png");

  font-family: "Helvetica"; }
table
{
  background-color: #dddddd;
  width: 100%;
  border: 1px outset black;
}

td
{
    margin: 0px;
    padding: 2px;
    font-family: sans-serif;
    font-size: 10pt;
    border: 0px;
    background-color: white;
    outline: 0px;
}

th
{
    background-color: #dddddd;
    text-align: left;
    font-family: sans-serif;
    font-size: 12pt;
}

th.pvm
{
    font-weight: normal;
}



